server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/retaildb
    username: retail
    password: retail
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

app:
  jwt:
    issuer: retail-api
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS"
    accessTokenMinutes: 60
